/***** CSS RESET *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********************/

/***** CLEARFIX *****/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*********************/
h1{
    position: relative;
    z-index: 10;
    font-size: 50px;
}
#app {
    text-align: center;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.5);
    position: fixed; 
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
  }